#searchbar {
    border: black 1px solid;
    border-radius: 9999px;
    height: 25px;
    width: 30vw;
    font-size: small;
}
#profile-container {
    justify-content: end;
}
#pfp {
    height: 10px;
    width: auto;
}


.card{
    margin-top: 10%;
    border-radius: 5%;
    background-color: dimgray;

    /* background-color: aliceblue; */
}
.card .btn{
    background-color: brown;
    border-color: brown;
}

.bottom-card{
    margin-bottom: 10%;
}
body{
    background-color: black;
}
nav{
    background-color: dimgray;
    color: white;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:visited, /* Targets active nav links */
.navbar-light .navbar-brand  {
    color: white;
}


footer{
    background-color: dimgray;
    color: white;

}