h1 {
    color: white;
    text-decoration: underline;
}
.fav-movie-card {
    height: fit-content;
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
    .row {
        height: 100%;
        [class^="col"]{
            height: 100%;
        }
    }
}
.img-container {
    overflow: hidden;
}
.fav-movie-img {
    width: 100%;
    height: 100%;
    object-position: center;
    border-radius: 2%;
}
.fav-button {
    width: 100%;
}

.deco-star-rating {
    font-size: 3rem;
    color: gold;
    display: flex;
    justify-content: end;
    .unchecked {
        color: grey;
    }
}