h1 {
    color: white;
    text-decoration: underline;
}
.star-rating {
    color: grey;
    display: flex;
    justify-content: end;
    gap: 10px;
    flex-wrap: nowrap;
    @media (max-width: 800px) {
        margin: 0 auto 0 auto;
    }
    input {
        display: none; /* Hide the original radio buttons */
    }
    direction: rtl; /* Because HTML elements can only effect later elements, this reverses the display order of stars */
}
.star-rating input:checked ~ label, .star-rating input:checked + label {
    color: #ffcc00;
}
.star-rating label:hover, .star-rating label:hover ~ label {
    color: #ffcc00;
}

.add-fav-heart{
    font-size: 2rem;
    color: dimgray;
    input {
        display: none;
    }
}
.add-fav-heart input:checked + label, .add-fav-heart label:hover {
    color: red;
}
.heart-txt {
    font-size: 1rem;
}
#review-text-area {
    width: 100%;
}

.overall-rating {
    color: white;
    text-align: center;
    label {
        font-size: 5vw;
        margin-top: -1vh;
        @media (max-width: 800px) {
            font-size: 50px;
        }
    }
}

.mood-rating, .other-factors-rating {
    color: white;
    label {
        font-size: 2rem;
    }
}